{% extends 'food_counter/base.html' %}

{% block title %}
    Информация о {{eating.eating}}
{% endblock %}

{% block content %}
<form method="post">
    <div class="form-style {% if field.errors %} errors {% endif %}">
        <h2>
             {{ eating.eating }}
        </h2>
    </div>
    <div class="form-style {% if field.errors %} errors {% endif %}">
        <h2>
            Блюдо: {{ eating.dish_1 }}
        </h2>
    </div>
    <div class="form-style {% if field.errors %} errors {% endif %}">
        <h2>
            Граммовка: {{ eating.weight_1 }}
        </h2>
    </div>
    {% if eating.dish_2 %}
    <div class="form-style {% if field.errors %} errors {% endif %}">
        <h2>
            Блюдо: {{ eating.dish_2 }}
        </h2>
    </div>
    <div class="form-style {% if field.errors %} errors {% endif %}">
        <h2>
            Граммовка: {{ eating.weight_2 }}
        </h2>
    </div>
    {% endif %}
    {% if eating.dish_3 %}
    <div class="form-style {% if field.errors %} errors {% endif %}">
        <h2>
            Блюдо: {{ eating.dish_3 }}
        </h2>
    </div>
    <div class="form-style {% if field.errors %} errors {% endif %}">
        <h2>
            Граммовка: {{ eating.weight_3 }}
        </h2>
    </div>
    {% endif %}

    <div class="form-style {% if field.errors %} errors {% endif %}">
        <p><a href="{% url 'update_eating' pk=eating.id %}">Внести изменения</a></p>
    </div>
    <div class="form-style {% if field.errors %} errors {% endif %}">
        <p><a href="{% url 'delete_eating' pk=eating.id %}">Удалить запись</a></p>
    </div>
</form>

{% endblock %}

