{% extends 'food_counter/base.html' %}

{% block title %}
    Информация о записи на  {{ size.day }} {{ size.month }}
{% endblock %}

{% block content %}
<form method="post">
    <div class="form-style {% if field.errors %} errors {% endif %}">
        <h2>
            Банка = {{ size.biceps }}
        </h2>
    </div>
    <div class="form-style {% if field.errors %} errors {% endif %}">
        <h2>
            Грудь = {{ size.breast }}
        </h2>
    </div>
    <div class="form-style {% if field.errors %} errors {% endif %}">
        <h2>
            Талия = {{ size.waist }}
        </h2>
    </div>
    <div class="form-style {% if field.errors %} errors {% endif %}">
        <h2>
            Обхват таза = {{ size.buttocks }}
        </h2>
    </div>
    <div class="form-style {% if field.errors %} errors {% endif %}">
        <h2>
            Обхват голени = {{ size.hip }}
        </h2>
    </div>
    <div class="form-style {% if field.errors %} errors {% endif %}">
        <p><a href="{% url 'size-detail' pk=size.id %}">Внести изменения</a></p>
    </div>
    <div class="form-style {% if field.errors %} errors {% endif %}">
        <p><a href="{% url 'size-delete' pk=size.id %}">Удалить запись</a></p>
    </div>
</form>

{% endblock %}

