{% extends 'food_counter/base.html' %}

{% block title %} Done {% endblock %}

{% block content %}
    <h2>Добавьте блюда и укажите их граммовки</h2>
    <form method="post">
        {% csrf_token %}


        <div class="form-style {% if field.errors %} errors {% endif %}">
            {{ form.eating.label_tag }}
            {{ form.eating }}
            {{ form.dish_1.label_tag }}
            {{ form.dish_1 }}
            {{ form.weight_1.label_tag }}
            {{ form.weight_1 }}
            {{ form.dish_2.label_tag }}
            {{ form.dish_2 }}
            {{ form.weight_2.label_tag }}
            {{ form.weight_2 }}
            {{ form.dish_3.label_tag }}
            {{ form.dish_3 }}
            {{ form.weight_3.label_tag }}
            {{ form.weight_3 }}
            {{ form.dish_4.label_tag }}
            {{ form.dish_4 }}
            {{ form.weight_4.label_tag }}
            {{ form.weight_4 }}
            {{ form.dish_5.label_tag }}
            {{ form.dish_5 }}
            {{ form.weight_5.label_tag }}
            {{ form.weight_5 }}
            {{ form.dish_6.label_tag }}
            {{ form.dish_6 }}
            {{ form.weight_6.label_tag }}
            {{ form.weight_6 }}

        </div>


        <button>Отправить</button>
    </form>
{% endblock %}
